# Versiones específicas para garantizar compatibilidad con Python 3.10
pandas==2.0.3
numpy==1.24.3
world_bank_data==0.1.4
matplotlib==3.7.1
requests==2.31.0
plotly==5.15.0
kaleido==0.2.1  # Para exportar gráficos a archivos estáticos
streamlit==1.24.0
streamlit-option-menu==0.3.6  # Para menús desplegables
python-dateutil==2.8.2
openpyxl==3.1.2

# Dependencias opcionales que podrías necesitar
# jupyter==1.0.0  # Comentado ya que no es necesario para producción
# streamlit-extras==0.3.0  # Comentado ya que puede causar conflictos
openpyxl